{{#partial "contenido"}}
    <div class="form-container">
        <form action="/cargar-csv" method="POST" enctype="multipart/form-data">
            <h1>Cargar Archivo CSV</h1>
            <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
            <button type="submit">Cargar</button>
        </form>
    </div>
    {{/partial}}
{{> templates/base title="Carga masiva"}}