<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejorando el Acceso a Alimentos</title>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
</head>
<body>
{{>templates/Navbar}}
<main class="container mt-5 pt-5">
    <div class="hero-section text-center mb-5">
        <h1>Acceso Alimentario en Contextos de Vulnerabilidad Socioeconómica</h1>
        <p>Colocamos heladeras en todo el país para ayudar a las personas en situación de vulnerabilidad alimentaria.</p>
        <a href="/mapa" class="btn btn-danger">Ver Heladeras</a>
    </div>

    <section class="solution-section mb-5">
        <h2 class="text-center">Nuestro Sistema</h2>
        <p class="text-center">Desarrollamos un sistema que mejora la organización y gestión de las heladeras, asegurando un acceso eficiente a los alimentos. Con este sistema, los voluntarios pueden:</p>
        <ul class="list-group">
            <li class="list-group-item">Localizar heladeras cercanas y saber si están activas.</li>
            <li class="list-group-item">Recibir notificaciones sobre heladeras que necesitan ser abastecidas.</li>
            <li class="list-group-item">Reportar problemas técnicos rápidamente.</li>
        </ul>
        <div class="text-center mt-3">
            <a href="/registro" class="btn btn-primary">Regístrate!</a>
        </div>
    </section>
</main>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
