<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar</title>
    <link rel="stylesheet" href="/StyleLogin.css">
</head>
<body>
<header>
    <div class="navbar">
        <a href="/" class="logo">SISTEMA MAACVS</a>
        <nav>
            <a href="/">Inicio</a>
            <a href="/mapa">Mapa</a>
            <a href="/nosotros">Acerca de Nosotros</a>
            <a href="/registro" class="active">Registrate!</a>
        </nav>
    </div>
</header>

<main>
    <div class="form-container">
        <form action="/login" method="POST">
            <h1>INGRESAR</h1>

            <label for="username"></label>
            <input type="text" id="username" name="username" placeholder="Usuario" required>

            <label for="password"></label>
            <input type="password" id="password" name="password"
                   placeholder="Contraseña" required>

            <button type="submit">Iniciar sesión</button>

            <p>¿No tienes una cuenta? <a href="/registro">Regístrate ahora</a></p>
        </form>
    </div>
</main>
</body>
</html>
