<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet"> <!-- Tu CSS personalizado -->
</head>
<body>
    {{>templates/Navbar}}
<main class="container mt-5 pt-5">
    <div class="hero-section">
        <h1>Sobre Nosotros</h1>
        <p>
            Este sistema ha sido desarrollado con el objetivo de facilitar la gestión de colaboradores,
            permitiendo registrar tanto personas humanas como jurídicas, y optimizando la administración
            y el procesamiento de datos en masa. A través de una interfaz sencilla y un backend robusto,
            buscamos ofrecer una experiencia eficiente para los usuarios.
        </p>

        <div class="authors">
            <h2>Autores</h2>
            <ul class="author-list list-unstyled">
                <li>Federico Bietti</li>
                <li>Carri</li>
                <li>Matias Sicher</li>
                <li>Lautaro Petronacci</li>
                <li>Martin Ibarra</li>
            </ul>
        </div>
    </div>
</main>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>