<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/StyleLandingPage.css">
</head>
<body>
<header>
    {{>templates/Navbar}}
</header>
    <title>Nosotros</title>
<div class="container">
    <h1>Sobre Nosotros</h1>
    <p>
        Este sistema ha sido desarrollado con el objetivo de facilitar la gestión de colaboradores,
        permitiendo registrar tanto personas humanas como jurídicas, y optimizando la administración
        y el procesamiento de datos en masa. A través de una interfaz sencilla y un backend robusto,
        buscamos ofrecer una experiencia eficiente para los usuarios.
    </p>

    <div class="authors">
        <h2>Autores</h2>
        <ul class="author-list">
            <li>Federico Bietti</li>
            <li>Carri</li>
            <li>Matias Sicher</li>
            <li>Lautaro Petronacci</li>
            <li>Martin Ibarra</li>
        </ul>
    </div>
</div>

</body>
</html>
