{{#partial "contenido"}}
    <h1>Acceso Denegado</h1>
    <p>Por acá no máquina, primero logueate</p>
    <a href="/login" class="btn">Iniciar Sesión</a>
    <a href="/" class="btn">Volver a Inicio</a>
</div>
{{/partial}}
{{> templates/base title="No autorizado"}}<div class="container">
