<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Denegado</title>
    <link rel="stylesheet" href="/StyleLandingPage.css"> <!-- Aquí puedes agregar tu CSS -->
</head>
<body>
<div class="container">
    <h1>Acceso Denegado</h1>
    <p>Por acá no máquina, primero logueate</p>
    <a href="/login" class="btn">Iniciar Sesión</a> <!-- Botón para ir a la página de inicio de sesión -->
    <a href="/" class="btn">Volver a Inicio</a> <!-- Botón para volver a la página principal -->
</div>
</body>
</html>
