{{#partial "contenido"}}
    <div class="row">
        <div class="col-md-12">
            <div class="form-container bg-white p-4 rounded shadow">
                <h1 class="text-center text-primary">Registrar Colaboración</h1>

                <!-- Tipo de Colaboración -->
                <div class="form-group mb-3">
                    <label for="tipoColaboracion">Tipo de Colaboración</label>
                    <select class="form-control" id="tipoColaboracion" name="tipoColaboracion" required>
                        <option value="">Seleccionar</option>
                        <option value="DINERO">Donar Dinero</option>
                        <option value="OFRECER_PREMIOS">Ofrecer Premios</option>
                        <option value="HOSTEAR_HELADERA">Hostear Heladera</option>
                    </select>
                </div>

                <!-- Dinero Form -->
                {{> templates/colaboraciones/formularios/colaboracion_dinero}}

                <!-- Hostear Heladera Form -->
                {{> templates/colaboraciones/formularios/colaboracion_heladera}}

            </div>
        </div>
    </div><script>
    document.addEventListener('DOMContentLoaded', () => {
        const tipoColaboracion = document.getElementById('tipoColaboracion');
        const forms = {
            DINERO: document.getElementById('dineroForm'),
            OFRECER_PREMIOS: document.getElementById('dineroForm'),
            HOSTEAR_HELADERA: document.getElementById('hostearHeladeraForm')
        };



        tipoColaboracion.addEventListener('change', function () {
            // Ocultar todos los formularios
            Object.values(forms).forEach(form => {
                if (form) form.style.display = 'none';
            });

            // Redireccionar si la opción seleccionada es "Hostear Heladera"
            if (this.value === 'OFRECER_PREMIOS') {
                window.location.href = "/colaboraciones/premio";
            }
             else if (this.value && forms[this.value]) {
                forms[this.value].style.display = 'block';
            }
        });
    });
</script>

{{/partial}}
{{> templates/base title="Registrar Colaboración"}}