{{#partial "contenido"}}
    <form id="ofrecerPremioForm" action="/colaboraciones/redistribucion" method="POST" style="display;">
    <div class="form-group mb-3">
        <label for="heladeraOrigen">Heladera Origen</label>
        <input type="text" class="form-control" id="heladeraOrigen" name="heladeraOrigen" placeholder="Heladera de origen">
    </div>
    <div class="form-group mb-3">
        <label for="heladeraDestino">Heladera Destino</label>
        <input type="text" class="form-control" id="heladeraDestino" name="heladeraDestino" placeholder="Heladera de destino">
    </div>
    <div class="form-group mb-3">
        <label for="cantidadViandas">Cantidad de Viandas</label>
        <input type="number" class="form-control" id="cantidadViandas" name="cantidadViandas" placeholder="Cantidad de viandas">
    </div>
    <div class="form-group mb-3">
        <label for="motivoRedistribucion">Motivo de Redistribución</label>
        <input type="text" class="form-control" id="motivoRedistribucion" name="motivoRedistribucion" placeholder="Motivo de redistribución">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Distribuir Viandas</button>
</form>
{{/partial}}
{{> templates/base title="Registrar Colaboración"}}