<form id="entregaTarjetasForm" action="/colaboraciones/" method="POST" style="display:none;">
    <p>Serás redirigido a /registro/vulnerable</p>
    <button type="submit" class="btn btn-primary btn-block">Registrar Colaboración</button>
</form>